@page "/"


<link href="css/Index.css" rel="stylesheet" />

<body>

    <div class="myWrapper">
        <div class="myHeader" id="myHeader">
            <div class="myLogo"><a href=" "><img id="myHeader" src="LogosUsed/Logo.png" width="80px"></a></div>
            <div class="Hyperlinks" id="Hyperlinks">
                <div><a href=" ">HOME</a></div>
                <div><a href="about">ABOUT US</a></div>
                <div><a href="sign">SIGN UP</a></div>
                <div><a href="contact">CONTACT US</a></div>
                <div><a href="help">HELP</a></div>
                <div class="cross" onclick="closeNav()" id="closeWindow">X</div>
            </div>
            <div class="search-container">
                <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>

            <div class="search-button">
                <div class="Searching" onclick="openSearch()"><img src="Ad/Icon.png" width="25px"></div>

                <div class="Menu" onclick="openNav()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

        </div>

        <div class="mySubjects" id="mySubjects">
            <div>MATHS</div>
            <div>ENGLISH</div>
            <div>SCIENCE</div>
            <div>DRAMA</div>
            <div>ARTS</div>
            <div onclick="getMore()">MORE<a class="more">&#10095;</a></div>
        </div>

        <div class="moreSubjectss" id="moreSubjectss">
            <div>GEOGRAPHY</div>
            <div>HISTORY</div>
            <div>MUSIC</div>
            <div>LANGUAGES</div>
            <div>TECHNOLOGY</div>
        </div>

        <!--Might change this image later if I can find a better one-->
        <div class="Image">
            <img src="LogosUsed/Logo.png" width="100%" />
        </div>

        <!-- Code for Navbar -->
        <div class="myInd" id="navbar">
            <a href="#RECENT"><div>Recent</div></a>
            <a href="#POPULAR"><div>Popular</div></a>
            <a href="#SOON"><div>Coming Soon</div></a>
            <a href="#SHOP"><div>Shop</div></a>
            <a href="search"><div>Search Courses</div></a>
        </div>

        <!-- Code for Short Introduction -->
        <div class="myIntroduction">
            <p>Welcome to Fly A-Way! Here you can explore a variety of courses and lessons on a range of subjects and you can personally arrange your lessons to be either physical or online. We provide the most updated news on changes to the subject curriculum as well as additional information in regards to certain subjects. Unlike other tutoring or coaching centres, we also run a shop will sells textbooks from all years from the latest to the oldest at a cheaper price. In addition, we have secondhand tests and lesson materials from past students from the top schools. For any help you may contact us through the social medias mentioned in <a href="contact">Contact Us</a>. You may also <a href="sign">Sign up</a> to receive notification on the latest news and keep updated daily. Enjoy!</p>
        </div>

        <!-- Code for News -->
        <div class="myNews">
            <table>
                <tr>
                    <th><h3>WHAT'S NEW</h3></th>
                </tr>
                <tr>
                    <td>SDD YEAR 11 HALF YEARLY EXAM 2019 - Hornsby Girls</td>
                </tr>
                <tr>
                    <td>SDD YEAR 11 HALF YEARLY EXAM 2019 SOLUTIONS - Hornsby Girls</td>
                </tr>
                <tr>
                    <td>SDD YEAR 11 HALF YEARLY EXAM 2021 - Hornsby Girls</td>
                </tr>
                <tr>
                    <td>SDD YEAR 11 HALF YEARLY EXAM 2021 SOLUTIONS - Hornsby Girls</td>
                </tr>
                <tr>
                    <td>YEAR 10 MATHSCAPE CHAP 1</td>
                </tr>
            </table>

            <a href="news"><p>> Check out what's new</p></a>
        </div>

        <!-- Code for Recent Releases -->
        <div class="myRecent">
            <a id="RECENT">
                <h2>SMALL GAMES</h2>
                <div class="button1" id="button1">
                    <div class="button" onclick="openRecentContent1()" id="c1">1</div>
                    <div class="button" onclick="openRecentContent2()" id="c2">2</div>
                    <div class="button" onclick="openRecentContent3()" id="c3">3</div>
                    <div class="button" onclick="openRecentContent4()" id="c4">4</div>
                    <div class="button" onclick="openRecentContent5()" id="c5">5</div>
                </div>

                <div class="buttons2" id="button2">
                    <div class="button" onclick="openRecentContent4()" id="c4">4</div>
                    <div class="button" onclick="openRecentContent5()" id="c5">5</div>
                    <div class="button" onclick="openRecentContent6()" id="c6">6</div>
                    <div class="button" onclick="openRecentContent7()" id="c7">7</div>
                    <div class="button" onclick="openRecentContent8()" id="c8">8</div>
                </div>
            </a>

            <div class="Content1" id="RecentContent1">
                <!--Game for Addition-->
                <div class="First">
                    <h1>Addition Game</h1>

                    <p>@message1</p>

                    <p role="status">@randlnum1 + @randrnum1 =  </p>

                    <input type="number" @bind="@guess1" name="meow" />
                </div>

                <div class="CheckGenerateOverall">
                    <div class="CheckGenerate">
                        <button class="AdditionGenerate" name="Button3" id="button1" @onclick="Generate1">Generate Question</button>

                        <button class="AdditionCheck" @onclick="Check1">Check Answer</button>
                    </div>
                </div>


                <div class="UserName">
                    <div class="UserName1">
                        <br />
                        <input class="UserNameAdd" type="text" placeholder="Enter User Name..." @bind="@name" name="Name" />

                        <input class="SaveProgressAdd" type="submit" value="Save Progress" @onclick="handleSaveProgress1">

                        <br />

                        <input type="submit" class="ListAll1" value="List All Progress" @onclick="list_p1">

                        <br />
                        <div class="Last1">@progress </div>
                        <br />
                    </div>
                </div>
            </div>
            <style>
                <!-- To make the Generate Question Button disappear and reappear; prevents the user from changing questions which they don't know how to answer, not allowing them to cheat-->
                .AdditionGenerate {
                    visibility: @view1;
                    grid-area: Generate;
                }
                <!-- To make the Check Answer button disappear and reappear; prevents the user from continuously pressing the button to mark the same question, prevents them from cheating-->
                .AdditionCheck {
                    visibility: @view2;
                    grid-area: Check;
                }
                .CheckGenerateOverall {
                    grid-area: CheckGenerateOverall;
                }
                .CheckGenerate {
                    padding-top: 15px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    grid-template-areas: "@changes";
                }
                .ListAll1 {
                    margin: 15px 0 ;
                    visibility: @ListAllV1;
                }
                .Last1 {
                    visibility:@LastV1;
                    padding: 2px;
                    background-color: lightgrey;
                }

                .UserName1 {
                    visibility: @nameV1;
                }
            </style>

            <div class="Content2" id="RecentContent2">
                <!--Game for Subtraction-->
                <div class="First">
                    <h1>Subtraction Game</h1>

                    <p>@message2</p>

                    <p role="status">@randlnum2 - @randrnum2 =  </p>

                    <input type="number" @bind="@guess2" />
                </div>
                
                <div class="CheckGenerateOverall">
                    <div class="CheckGenerate1">
                        <button class="SubtractionGenerate" @onclick="Generate2">Generate Question</button>

                        <button class="SubtractionCheck" @onclick="Check2">Check Answer</button>
                    </div>
                </div>
                <div class="UserName">
                    <div class="UserName2">
                        <br />
                        <input class="UserNameAdd" type="text" placeholder="Enter User Name..." @bind="@name" name="Name" />

                        <input class="SaveProgressAdd" type="submit" value="Save Progress" @onclick="handleSaveProgress2">

                        <br />

                        <input type="submit" class="ListAll2" value="List All Progress" @onclick="list_p2">

                        <br />
                        <div class="Last2">@progress </div>
                        <br />
                    </div>
                </div>
                
            </div>
            <style>
                <!-- Make generate question button disappear/appear-->
                .SubtractionGenerate {
                    visibility: @view3;
                    grid-area: Generate1;
                }
                <!-- Make the check answer button disappear/appear-->
                .SubtractionCheck {
                    visibility: @view4;
                    grid-area: Check1;
                }
                .CheckGenerateOverall {
                    grid-area: CheckGenerateOverall;
                }
                .CheckGenerate1 {
                    padding-top: 15px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    grid-template-areas: "@changes1";
                }
                .ListAll2 {
                    margin: 15px 0 ;
                    visibility: @ListAllV2;
                }
                .Last2 {
                    visibility:@LastV2;
                    padding: 2px;
                    background-color: lightgrey;
                }

                .UserName2 {
                    visibility: @nameV2;
                }
            </style>

            <div class="Content3" id="RecentContent3">
                <!--Game for multiplication-->
                <div class="First">
                    <h1>Multiplication Game</h1>

                    <p>@message3</p>

                    <p role="status">@randlnum3 x @randrnum3 =  </p>

                    <input type="number" @bind="@guess3" name="meow" />
                </div>

                <div class="CheckGenerateOverall">
                    <div class="CheckGenerate2">
                        <button class="MultiplicationGenerate" @onclick="Generate3">Generate Question</button>

                        <button class="MultiplicationCheck" @onclick="Check3">Check Answer</button>
                    </div>
                </div>
                 <div class="UserName">
                    <div class="UserName3">
                        <br />
                        <input class="UserNameAdd" type="text" placeholder="Enter User Name..." @bind="@name" name="Name" />

                        <input class="SaveProgressAdd" type="submit" value="Save Progress" @onclick="handleSaveProgress3">

                        <br />

                        <input type="submit" class="ListAll3" value="List All Progress" @onclick="list_p3">

                        <br />
                        <div class="Last3">@progress </div>
                        <br />
                    </div>
                </div>
            </div>
            <style>
                <!-- Make generate question button disappear/appear-->
                .MultiplicationGenerate {
                    visibility: @view5;
                    grid-area: Generate2;
                }
                <!-- Make check answer button disappear/appear-->
                .MultiplicationCheck {
                    visibility: @view6;
                    grid-area: Check2;
                }

                .CheckGenerateOverall {
                    grid-area: CheckGenerateOverall;
                }
                .CheckGenerate2 {
                    padding-top: 15px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    grid-template-areas: "@changes2";
                }
                .ListAll3 {
                    margin: 15px 0 ;
                    visibility: @ListAllV3;
                }
                .Last3 {
                    visibility:@LastV3;
                    padding: 2px;
                    background-color: lightgrey;
                }

                .UserName3 {
                    visibility: @nameV3;
                }
            </style>

            <div class="Content4" id="RecentContent4">
                <h1>Division Game</h1>
                <p>Coming soon...</p>
            </div>

            <div class="Content5" id="RecentContent5">
                <h1>Hangman Game</h1>
                <p>Coming Soon...</p>
            </div>
        </div>

        <!-- Code for Subjects List -->
        <div class="myList">
            <h3 onclick="openList()">COURSES<div class="later">Click Here</div></h3>
            <div class="Listing" id="myDropdown">
                <div class="closeList" onclick="closeList()" id="closeList">X</div>
                <ul>
                    <li>English</li>
                    <li>Maths</li>
                    <li>Science</li>
                    <li>Technology</li>
                    <li>Music</li>
                    <li>Arts</li>
                    <li>Drama</li>
                    <li>Geography</li>
                    <li>History</li>
                    <li>French</li>
                    <li>Chinese</li>
                    <li>German</li>
                    <li>Korean</li>
                    <li>Spanish</li>
                    <li>Japanese</li>
                    <li>Visual Arts</li>
                    <li>Visual Design</li>
                    <li>Engineering</li>
                    <li>Food Tech</li>
                </ul>
                <ul>
                    <li>Astronomy</li>
                    <li>Geology</li>
                    <li>Physics</li>
                    <li>Chemistry</li>
                    <li>Biology</li>
                    <li>Literature</li>
                    <li>Poetry</li>
                    <li>Photography</li>
                    <li>PDHPE</li>
                    <li>Sports</li>
                    <li>Painting</li>
                    <li>Drawing</li>
                    <li>Etching</li>
                    <li>IPT</li>
                    <li>SDD</li>
                    <li>Cyber Security</li>
                    <li>Robotics</li>
                    <li>Singing</li>
                    <li>Dancing</li>
                </ul>
            </div>
        </div>

        <!--Code for New Textbooks-->
        <div class="mySoon">
            <a id="SOON"><h2>Coming Soon</h2></a>

            <div class="AnimeComing">
                <div class="Anime">
                    <img src="Images/MathsText1.png" width="100%" class="ImagesUsed">
                    <div class="overlay">YEAR 10 MATHSCAPE CHAP 1</div>
                </div>
                <div class="Anime">
                    <img src="Images/MathsText2.png" width="100%" class="ImagesUsed">
                    <div class="overlay">YEAR 10 MATHSCAPE CHAP 2</div>
                </div>
                <div class="Anime">
                    <img src="Images/MathsText3.png" width="100%" class="ImagesUsed">
                    <div class="overlay">YEAR 10 MATHSCAPE CHAP 3</div>
                </div>
                <div class="Anime">
                    <img src="Images/MathsText4.png" width="100%" class="ImagesUsed">
                    <div class="overlay">YEAR 10 MATHSCAPE CHAP 4</div>
                </div>
            </div>

            <a href="news"><p>> Coming Soon</p></a>
        </div>

        <!-- Code for Event -->
        <div class="myEvent">
            <div class="Info">
                <a id="SHOP"><h2>UPCOMING TALK ON SUBJECT SELECTIONS</h2></a>
                <p>Come and visit Sydney Townhall to experience once in a life opportunity to meet all the past successful HSC students in person! For just <b>$35</b>, you have all the access to wander aroundand  strike a conversation with the past students and grab their autographs. Food and drinks will be provided for you as well as pamphlets and information on subject selection. You may also be allowed to buy PastPapers and/or notes directly from the past students themselves.</p>
                <p>So what are you waiting for? Come and visit the Talk on Subject Selection on the</p>
                <div class="larger">
                    <p><em>17th October 2022</em></p>
                    <p><em>11am - 6pm</em></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Code for Shop -->
    <div class="myShop">
        <div class="Shop">
            <div class="PastPapers" id="SHOP">
                <img src="Images/Study.gif" alt="Avatar" class="image" width=100%>
                <div class="middle">
                    <div class="text">Past Papers</div>
                </div>
            </div>

            <div class="PastTests">
                <img src="Images/Study1.gif" alt="Avatar" class="image" width=100%>
                <div class="middle">
                    <div class="text">Past Tests</div>
                </div>
            </div>

            <div class="PastNotes">
                <img src="Images/Study2.gif" alt="Avatar" class="image" width=100%>
                <div class="middle">
                    <div class="text">Past Notes</div>
                </div>
            </div>
        </div>

        <a href="shop"><p>> Go to Shop</p></a>

    </div>



    <div class="myGap"></div>

    <!-- Code for Contact Information and Footer -->
    <!--Takes users to the actual social media pages-->
    <div class="myContact">
        <div class="Logo">
            <a href="https://www.facebook.com/sophia.cheng.3762584/" title="Go to Facebook"><img src="LogosUsed/FacebookLogo.png" width=20px></a>
            <a href="https://www.instagram.com/anime_world0222/" title="Go to Instagram"><img src="LogosUsed/InstagramLogo.png" width=20px></a>
            <a href="https://twitter.com/Anime_World22" title="Go to Twitter"><img src="LogosUsed/TwitterLogo.png" width=20px></a>
            <a href="a.anime.world22@gmail.com" title="Go to Mail"><img src="LogosUsed/EmailLogo.png" width=20px></a>
        </div>

        <div class="Links">
            <div><a href=" ">Home</a></div>
            <div><a href="about">About Us</a></div>
            <div><a href="sign" target="_blank">Sign Up</a></div>
            <div class="exception"><a href="contact">Contact Us</a></div>
        </div>

        <div class="Footnote">ⓒ Fly A-way Inc. All rights reserved</div>
    </div>

    <!--Background music that plays, can be paused/skipped/muted-->
    <audio controls autoplay loop>
        <source src="Audio/AnimeMusic.mp3" type="audio/mpeg">
    </audio>


</body>

@code {


    //Global variables for the Addition Game
    int answered1 = 0;
    int answeredCorrect1 = 0;
    int randlnum1 = 0;
    int randrnum1 = 0;
    int guess1 = 0;
    int sum1 = 0;
    string message1 = "";
    string view1 = "visible";
    string view2 = "hidden";
    string nameV1 = "hidden";
    string ListAllV1 = "hidden";
    string LastV1 = "hidden";
    string name = "";
    string changes = "Generate Check";
    string progress = new string("");

    //Saving Progress
    public void handleSaveProgress1()
    {
        ListAllV1 = "visible";
        Globals1.progresses.Add(new Progress1(answered1, answeredCorrect1, name));
    }
    public void list_p1()
    {
        foreach (Progress1 theProgress in Globals1.progresses)
        {
            progress = "";
            LastV1 = "visible";
            progress = new string(progress + theProgress.reportMe()); //prints out the progress
        }
    }

    //code for generating new questions
    private void Generate1()
    {
        guess1 = 0;
        Random num = new Random();
        randlnum1 = num.Next(1, 12);
        randrnum1 = num.Next(1, 12);
        view1 = "hidden"; //makes the Generate Question button disappear
        view2 = "visible"; //Makes the check answer button appear
        nameV1 = "visible";
        changes = "Check Generate";
    }



    private void Check1()
    {
        int sum1 = randlnum1 + randrnum1;
        if (guess1 == sum1)
        {
            answered1++;
            answeredCorrect1++;
            message1 = "Correct! You answered " + answeredCorrect1 + " correctly out of " + answered1 + " in the Addition Game.";
        }
        else
        {
            answered1++;
            message1 = "Wrong! You answered " + answeredCorrect1 + " correctly out of " + answered1 + " in the Addition Game.";
        }
        view1 = "visible"; //makes the generate question button reappear
        view2 = "hidden"; //makes the check answer button disappear again
        changes = "Generate Check";
    }


    //Global variables for the Subtraction Game
    int answered2 = 0;
    int answeredCorrect2 = 0;
    int randlnum2 = 0;
    int randrnum2 = 0;
    int guess2 = 0;
    int sum2 = 0;
    string message2 = "";
    string view3 = "visible";
    string view4 = "hidden";
    string changes1 = "Generate1 Check1";
    string nameV2 = "hidden";
    string ListAllV2 = "hidden";
    string LastV2 = "hidden";

    public void handleSaveProgress2()
    {
        ListAllV2 = "visible";
        Globals2.progresses.Add(new Progress2(answered1, answeredCorrect1, name));
    }
    public void list_p2()
    {
        foreach (Progress2 theProgress in Globals2.progresses)
        {
            progress = "";
            LastV2 = "visible";
            progress = new string(progress + theProgress.reportMe()); //prints out the progress
        }
    }

    //code for generating new questions
    private void Generate2()
    {
        guess2 = 0;
        Random num = new Random();
        randlnum2 = num.Next(6, 12);
        randrnum2 = num.Next(1, 6);
        view3 = "hidden";
        view4 = "visible";
        nameV2 = "visible";
        changes1 = "Check1 Generate1";
    }

    private void Check2()
    {
        int sum2 = randlnum2 - randrnum2;
        if (guess2 == sum2)
        {
            answered2++;
            answeredCorrect2++;
            message2 = "Correct! You answered " + answeredCorrect2 + " correctly out of " + answered2 + " in the Subtraction Game.";
        }
        else
        {
            answered2++;
            message2 = "Wrong! You answered " + answeredCorrect2 + " correctly out of " + answered2 + " in the Subtraction Game.";
        }
        view3 = "visible";
        view4 = "hidden";
        changes1 = "Generate1 Check1";
    }

    //Global variables for the Multiplication Game
    int answered3 = 0;
    int answeredCorrect3 = 0;
    int randlnum3 = 0;
    int randrnum3 = 0;
    int guess3 = 0;
    int sum3 = 0;
    string message3 = "";
    string view5 = "visible";
    string view6 = "hidden";
    string changes2 = "Generate2 Check2";
    string nameV3 = "hidden";
    string ListAllV3 = "hidden";
    string LastV3 = "hidden";

    //code for generating new questions
    private void Generate3()
    {
        guess3 = 0;
        Random num = new Random();
        randlnum3 = num.Next(1, 5);
        randrnum3 = num.Next(1, 5);
        view5 = "hidden";
        view6 = "visible";
        nameV3 = "visible";
        changes2 = "Check2 Generate2";
    }

    private void Check3()
    {
        int sum3 = randlnum3 * randrnum3;
        if (guess3 == sum3)
        {
            answered3++;
            answeredCorrect3++;
            message3 = "Correct! You answered " + answeredCorrect3 + " correctly out of " + answered3 + " in the Multiplication Game.";
        }
        else
        {
            answered3++;
            message3 = "Wrong! You answered " + answeredCorrect3 + " correctly out of " + answered3 + " in the Multiplication Game.";
        }
        view5 = "visible";
        view6 = "hidden";
        changes2 = "Generate2 Check2";
    }
    public void handleSaveProgress3()
    {
        ListAllV3 = "visible";
        Globals3.progresses.Add(new Progress3(answered1, answeredCorrect1, name));
    }
    public void list_p3()
    {
        foreach (Progress3 theProgress in Globals3.progresses)
        {
            progress = "";
            LastV3 = "visible";
            progress = new string(progress + theProgress.reportMe()); //prints out the progress
        }
    }



}




